html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#result {
    font-size: 70px;
    color: blue;
}
#percent {
    font-size: 30px;
}
#read {
    color: #777;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
    #result {
        color: yellow;
    }
}
